
.header-container {
  text-align: center;
}
.header-h1 {
  background-color: #333;
  color: #fff;
  padding: 10px;
}
.header-table {
  width: 100%;
  border: 0px solid rgb(255, 255, 255, 0.8);
  border-collapse: separate;
}
.header-table tr {
  background-color: #2ee7e1;
}
.height-40 {
  height: 40px;
}
.height-10  {
  height: 10px;
}
